<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{subhead}}-{{bookName}}-{{title}}</title>
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="stylesheet" href="/assets/styles/main.css" />
  <link rel="stylesheet" href="/assets/styles/katex/common.css" />
  <link rel="stylesheet" href="/assets/styles/katex/katex.min.css" />
  <script src="/assets/script/highlight.js"></script>
</head>

<body data-for="html-export">
  <div class="w-screen h-screen flex flex-col overflow-hidden">
    <header class="flex flex-grow-0 justify-between p-4 border-b border-neutral-200">
      <a href="/" class="flex items-center text-2xl text-neutral-700 cursor-pointer">
        <img src="/assets/images/logo.svg" class="w-[40px] h-[40px]" alt="{{title}}"></Image>
        <span class="text-4 ml-4">{{title}}</span>
      </a>
      <div class="right flex items-center cursor-pointer">
        {{#menuList}}
        <a href="{{&url}}" class="mr-2 text-md hover:text-sky-500">{{name}}</a>
        {{/menuList}}
      </div>
    </header>
    <main class="flex-grow-1 overflow-hidden scrollHeight">
      <div class="w-screen flex flex-1">
        <aside class="basis-2/12 border-r border-gray-300 h-full overflow-hidden">
          <div class="text-md font-bold text-gray-700 m-4">{{bookName}}</div>
          <div class="overflow-x-hidden overflow-y-auto scrollChapterHeight scrollbar flex flex-col">
            {{#chapterList}}
            <a class="text-md block mx-4 mb-2 cursor-pointer overflow-hidden text-ellipsis whitespace-nowrap hover:text-sky-300" href="{{&url}}">{{name}}
            </a>
            {{/chapterList}}
          </div>
        </aside>
        <section class="basis-10/12 overflow-x-hidden overflow-y-auto scrollChapterHeight scrollbar">
          <div id="markdown-container" class="px-4 relative">
            {{&html}}
          </div>
        </section>
      </div>
    </main>
</body>

</html>