<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{subhead}}-{{title}}</title>
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <meta name="Author" content="{{author}}">
    <meta name="Keywords" content="{{subhead}}"/>
  <link rel="stylesheet" href="/assets/styles/main.css" />
  <script src="/assets/script/highlight.js"></script>
</head>

<body>
  <div class="w-screen h-screen flex flex-col overflow-hidden">
    <header class="flex flex-grow-0 justify-between p-4 border-b border-neutral-200">
      <a href="/" class="flex items-center text-2xl text-neutral-700 cursor-pointer">
        <img src="/assets/images/logo.svg" class="w-[40px] h-[40px]" alt="{{title}}"></Image>
        <span class="text-4 ml-4">{{title}}</span>
      </a>
      <div class="right flex items-center cursor-pointer">
        {{#menuList}}
        <a href="{{&url}}" class="mr-2 text-md hover:text-sky-500">{{name}}</a>
        {{/menuList}}
      </div>
    </header>
    <main class="flex-grow-1 overflow-hidden scrollHeight">
      <img src="/assets/images/frontend.jpeg" class="w-auto mx-auto cursor-pointer h-full object-fill" alt="前端技能树"/>
    </main>
</body>

</html>